<div>
{{#each contents as |content|}}
   <div class="card-body">
    <p>
        {{title}} 
    </p>
    <p>
        Written by:
        {{user_name}}
    </p>
    <p>
        {{content}}
    </p>
    </div>
    {{/each}}
  </div>